html, body, div, span, h1, h2, h3, p, a, ul, li, audio, form, input, button, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}
